body{
    margin: 0px;   
}
/* sign-in */
.sign-in{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(165, 165, 165);
    background-color: rgba(165, 165, 165, 0.9);
    overflow: auto;
    display: none;
    z-index: 2;
}
.sign-in:target{
    display: block;
    position: fixed;
}
@keyframes example {
    from {left:-100px;opacity: 0;}
    to {right:35%;opacity:1;}
}
.form-sign-in{
    width: 30%;
    height: 40%;
    background-color: white;
    position: relative;
    top: 30%;
    left: 35%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    animation-name: example;
    animation-duration: 0.5s;
}
#btn-exit{
    font-size: 15px;
    float: right;
    padding:7px;
    text-decoration: none;
    color: white;
}
#btn-exit :hover{
    color: black;
}
#login{
    height: 40px;
    background-color: rgb(244, 174, 61);
    text-align: center;
}
#login h2{
    width: 100%;
    padding-top: 7px;

}
#center{
    text-align: center;
    margin-top: 10px;
}
#form{
    display: flex;
}
#inf_account{
    width: 40%;
    height: auto;
}
#inf_account p{
    margin: 0;
    margin-top: 10px;
    text-align: right;
}
#text_box_account{
    width: 70%;
    height: auto;
    display: block;
    margin-top: 5px;
    text-align: left;
}
#text_box_account input{
    
    margin-left: 5px;
    margin-bottom: 7px;
}
.username{
    padding-top: 10px;
}
.password{
    margin-top: 10px;
    padding-left: 3px;
}
#btn{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
#btn i{
    margin-bottom: 10px;
}
#btn-login button{
    height: 40px;
    width: 90px;
    font-size: 15px;
    background-color: white;
}
/* Header */

.header{
    width: 100%;
    height: 200px;
}
.background-header{
    width: 100%;
    height: 100%;
}

/* Navigation bar */
.navigation-bar{
    margin-right: 0%;
    margin-left: 0%;
}
.task1{
    float: right;
    display: inline-block;
}
.task{
    background-color: black;
    width: 100%;
    height: 20px;
}
.task a{
    margin: 0px;
    padding-left: 5px;
    color: gray;
    text-decoration: none;
    padding-right: 30px;
}
.task i{
    color: gray;

}
.img-account{
    width: 15px;
    height: 15px;
}
.menu{
    width: 100%;
    height: 100px;
    background-color: rgb(13, 13, 13);
    display: inline-block;
}
.logo{
    float: left;
    width: 203px;
    height: 100%;
    border-right: 1px solid gray;
    text-align: center;
    color: rgb(197, 197, 100);
    font-size: 20px;
}
.logo p{
    margin-top: 35px;
}
.infor{
    margin-top: 30px;
    display: flex;
    float: right;
    height: 30px;
}
.call-me{
    color: white;
}
.call-me p{
    margin: 0px;
    font-size: 10px;
    color: gray;    
}
.icon-call{
    font-size: 30px;
    color: rgb(252,175,19);
    margin-right: 7px;
}
.icon-heart-shopping{
    margin-left: 40px;
    padding-right: 40px;
}
.icon{
    font-size: 25px;
    color: rgb(252,175,19);
}
.icon-relative{
    position: relative;
}
.icon-circle{
    font-size: 13px;
    position: absolute;
    right: 32px;
    top: 44px;
    color: blue;
    display: none;
}
#number{
    font-size: 8px;
    position: absolute;
    right: 35px;
    top: 46px;
    bottom: 491px;
    color: whitesmoke;
}
.like{
    height: 40px;
    margin-left: 30px;
    margin-right: 10px;
}
.search{
    width: 300px; /*300px*/
    border: none;
    margin-right: 20px;
    background-color: rgb(0, 0, 0);
    position: relative;
    background-image: url(./img/f9bb81e576c1a361c61a8c08945b2c48-search-icon-by-vexels.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 95% 50%;
    padding-right: 40px;
    padding-left: 10px;
    color: gray;
}

.inform{
    display: flex;
}

.navigation-l{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgb(255, 255, 255),rgb(217,217,217));
    display: flex;
}

.navigation-list{
    display: flex;
    list-style-type: none;
    float: left;
    padding-left: 10px;
}
.head-navigation{
    width: 20%;
    border-right:1px solid rgb(241, 241, 241);
    text-align: center;
    position: relative;
}

.navigation-list-first{
    text-align: center;
    width: 16%;
    height: 100%;
    border-right: 1px solid rgb(241, 241, 241);
    color: rgb(62, 62, 62);
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    text-decoration: none;
}
.navigation-list-first:hover{
    background-image: linear-gradient(rgb(190,190,190),rgb(255,255,255));
}
.navigation-list-first h4 a{
    text-decoration: none;
    color: black;
}
.category{
    display: flex;
    padding-left: 20px;
    padding-top: 20px;
    color:  rgb(62, 62, 62);
}
.category-n{
    margin-left: 10px;
}
.dropdown-navigationbar{
    position: absolute;
    display: none;
    width: 100%;
    background-color: black;
    color: white;
    border: 1px solid rgb(100, 66, 20);
    left: 0px;
    text-align: left;
    top: 100%;
}

.navigation-list-first:hover .dropdown-navigationbar{
    display: inline-block;
}
.head-navigation:hover .dropdown-navigationbar{
    display: inline-block;
}

.car{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid grey;
    box-sizing: border-box;
}
.car p{
    margin: 0px;
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
}
.tt{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid grey;
    box-sizing: border-box;
}
.tt p{
    margin: 0px;
    font-size: 15px;
    text-align: Left;
    padding-top: 15px;
    padding-left: 20px;
}
.tt:hover{
    opacity: 0.75;
}
.car1{
    border: none;
    background-color: black;
    border: 1px solid rgb(100, 66, 20);
}
.car:hover{
    opacity: 0.75;
}
.img-next a{
    text-decoration: none;
    color: rgb(62, 62, 62);
}
/* Body */
.body{
    width: 100%;
    height: 1500px;
    display: flex;
    border-bottom: 1px solid #e2e2e2;
}
#title{
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}
#title b{
    font-size: 30px;
    
}
/* LEFT BODY */
#left_body{
    width: 25%;
    height: 100%;
    float: left;
    margin-bottom: 30px;
}
.border_top_bottom{
    max-width: 100%;
    margin-left: 100px;
    margin-bottom: 10px;
    
}
.border_top_bottom p{
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
}
.scroll_x_y{
    height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.check{
    margin-top: 10px;
}
/* Right body */
#right_body{
    width: 75%;
    height: 100%;
    float: right;

}
#padding{
    padding-left: 30px;
    padding-right: 100px;
}
.img-banner{
    width: 100%;
    height: 30%;
    margin-right: 0px;
}
.page_inf{
    margin-right: 0px;
    width: 100%;
}
.page_inf p i{
    margin-left: 10%;
}
#sorts{
    padding: 3px;
    color : rgb(109, 107, 107);
}
.sort_list{
    display: flex;
}
.sort_1{
    float: left;
    padding-left: 10px;
    margin-top: 30px;
}
.sort_2{
    width: 500px;
    margin-top: 30px;
}
.number_page{
    margin-right: 10px;
    float: right;
    text-decoration: none;
    color: #e2e2e2;
    border: 1px solid #e2e2e2;
    padding: 5px;
    width: 15px;
    text-align: center;
}
.number_page:hover{
    border: 1px solid brown;
    color: brown;
}
.sort_list{
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 20px;
}
/*  */
/* danh sach san pham  */
.product{
    width: 100%;
    height: 100px;
}
.list_products{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
}
.sp-cartide-1{
    text-decoration: none;
    width: 30%;
    height: 400px;
    margin-top: 20px;
    margin-right: 2%;
    background-color: rgb(255,255,255);
    border: 1px solid #e2e2e2;
    border-radius: 5px;
}
.sp-cartide-1:hover{
    width: 31%;
    height: 410px;
    margin-top: 15px;
}

.sp-cartide-bg{
    width: 100%;
    height: 60%;
    background-color:rgb(245, 245, 245);
    border-radius: 15px;
    text-align: center;
    color: rgb(85, 85, 85);

}
.sp-cartide-bg img{
    width: 100%;
    height: 100%;
}
.sp-cartide-bg p{
    white-space: nowrap;
    margin-top: 10px;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
    padding-right: 10px;
}
.start-icon{
    display: flex;
    float: center;
    text-align: center;
    padding-left: 90px;
}
.size-start{
    color: rgb(225, 225, 225);
}
.btn-shipping button{
    width: 80%;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    background-color: rgb(240, 240, 240);
}
.value{
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-shipping button:active{
    opacity: 0.75;
    border: none;
}
.btn-shipping button:focus{
    border: none;
}
/*  */
/* SOCIAL PAGE */
.social_page{
    display: flex;
    margin-top: 15px;
}
.social_page{
    padding-left: 50px;
    margin-right: 10px;
}
#Social{
    margin-top: 7px;
    padding-left: 10px;
}
#Social a i{
    color: gray;
    font-size: 30px;
    margin-right: 5px;
}
/*  */
/* footer */
/* subcribe */
.subscribe{
    width: 100%;
    height: 150px;
    background-image: url(./img/Teaser-image-of-new-Ginetta-supercar-prototype-2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
}
.icon-letter{
    font-size: 40px;
    color:  rgb(244, 174, 61);
    margin-top: 45px;
    margin-left: 20px;
}
.subscribe-im{
    margin-top: 45px;
    margin-left: 10px;
}
.subscribe-im b{
    font-size: 20px;
    color: rgb(244, 174, 61);
}
.subscribe-im b p{
    font-size: 15px;
    color: rgb(111, 111, 111);
    margin-top: 0px;
}
.text-box{
    margin-top: 45px;
    margin-left: 40px;
}
.text-box input{
    height: 30px;
    width: 335px;
    padding-left: 10px;
    padding-right: 80px;
    position: relative;
    border-radius: 5px;
    border: none;
}
.text-box button{
    height: 32px;
    width: 76px;
    position: absolute;
    left: 1009px;
    border-radius: 5px;
    background-color: rgb(244, 174, 61);
    border: none;
}

/* footer */
/* footer */
#footer_title{
    width: 100%;
    margin-top: 30px;
}
.padding_footer{
    padding-left: 17%;
    padding-right: 15%;
}
.footer{
    width: 100%;
    height: auto;
    display: flex;
    border-bottom: 1px solid rgb(111, 111, 111);
    background-image: url(./img/cacbon-back.png);
    background-size: 100%;
}
.bg-footer{
    margin-top: 40px;
    width: 35%;
    height: 230px;
    margin-right: 2%;
    border-right: 1px solid rgb(111, 111, 111);
    float: left;
}
.bg-footer1{
    margin-top: 40px;
    width: 35%;
    height: 200px;
}
.title-footer{
    color: white;
    border-bottom: 1px solid rgb(244, 174, 61);
    font-size: 20px;
    padding-bottom: 5px;
}
.flex{
    display: flex;
    margin-top: 10px;
}
.icon-contact{
    font-size: 30px;
    color:rgb(244, 174, 61);
    margin-top: 14px;
    margin-left: 10px;
}
.footer1{
    margin-left: 20px;
    margin-top: 10px;
}
.footer1 p{
    font-size: 12px;
    color: rgb(111, 111, 111);
    margin-bottom: 0px;
    margin-top: 0px;
}
.footer1 b{
    font-size: 15px;
    color: rgb(244, 174, 61);
    margin-top: 0px;
    margin-bottom: 0px;
}
.list{
    margin-top: 30px;
    list-style-type: none;
    padding: 0px;
}
.list li{
    margin-bottom: 7px;
}
.list li a{
    text-decoration: none;
    color: rgb(111, 111, 111);
}
.block{
    margin-top: 10px;
    padding-bottom: 10px;
    display: block;
}
.left-footer{
    float: left;
    color: white;
}
.right-footer{
    float: right;
    color: white;
}
.v{
    margin-right: 5px;
}
/* Chi tiet san pham  */
.trang_ct_class{
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgb(109, 107, 107);
    background-color: rgba(109, 107, 107,0.7);
    top: 0;
    left: 0;
}
.trang_ct_class:target{
    display: block;
    position: fixed;
}
.trang_ct {
    width: 80%;
    height: 1000px;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    background-color: white;
}
.ct_sp{
    padding-left: 10px;
    width: 100%;
    height: 100%;
    display: flex;
}
.title_sp{
    padding-top: 10px;
}
.title_sp p{
    text-align: center;
}
.img_sp{
    width: 40%;
    height: 70%;
}
.list-img-sp{
    width: 30%;
    height: 20%;
    margin-top: 90%;
    position: relative;
}
.img_product_{
    width: 30%;
    height: 35%;
    position: absolute;
    top: 80px;
    left: 70px;
}
.img_1_1:hover + .img_1{
    z-index: 2;
}
.img_1_2:hover + .img_2{
    z-index: 3;
}
.img_1_3:hover + .img_3{
    z-index: 4;
}
.mini_img{
    width: 30%;
    height: 100%;
    margin-right: 2.5%;
}
.mini_img:hover{
    border: 1px solid gray;
    box-sizing: border-box;
}
.inf_sp{
    width: 30%;
    height: 100%;
    margin-left: 20px;
}
#price{
    display: flex;
}
.price_load{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    color: rgb(146, 146, 146);
    text-decoration-line : line-through;
}
.discount{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: tomato;
}
.btn_add_in{
    width: 100%;
    height: 50px;
    background-color: red;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    color: white;
}
.btn_add_in:hover{
    opacity: 0.75;
}
.img_brand{
    width: 60%;
    height: 190px;
    text-align: center;
    border: 1px solid #dbdbdb;
    margin-left: 20%;
    margin-right: 20%;
}
.img_brand_1{
    padding-top: 10px;
}
.img_brand_1 img{
    width: 70%;
}
.guarantee{
    margin-top: 10px;
    text-align: center;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    margin-left: 10%;
    margin-right: 10%;
}
.list_guarantee{
    padding-right: 50px;
    padding-left: 50px;
}
.icon_guarantee{
    display: flex;

}
.icon_guarantee p{
    margin-top: 10px;
}
.icon_guarantee i{
    font-size: 30px;
    margin-top: 10px;
    margin-right: 10px;
    color: rgb(236, 79, 79);
}
.guarantee_1{
    width: 100%;
    margin-top: 10px;
}
.list_guarantee_1{
    margin-bottom: 10px;
    border-bottom: 1px solid #dbdbdb;
}
.list_guarantee_1 b{
    padding-bottom: 10px;
}
#Exit{
    padding-right: 10px;
    text-decoration: none;
    color: black;
    float: right;
}
.discount_block{
    margin-top: 15px;
    padding: 3px;
    width: 50px;
    height: 20px;
    text-align: center;
    background-color: rgb(250, 62, 62);
    border-radius: 20%;
    color: white;
    margin-left: 5px;
}

/* Gio hàng */
#gio_hang{
    width: 100%;
    height: 100%;
    background-color: rgb(109, 107, 107,0.75);
    background-color: argb(109, 107, 107,0.75);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}
.Exit_btn{
    position: absolute;
    top: -30px;
    right: 10px;
    color: black;
}
.Exit_btn:hover{
    opacity: 0.75;
}
.gio_hang_background{
    width: 80%;
    height: 80%;
    background-color: white;
    position: relative;
    top: 10%;
    left: 10%;
}
.giohang_header{
    width: 100%;
    height: 10%;
    text-align: center;
    color: tomato;
    border-bottom: 1px solid rgb(179, 177, 177);
}
.giohang_header h2{
    padding-top: 13px;
}
.title_giohang{
    width: 90%;
    height: 30px;
    margin-left: 5%;
    color: rgb(146, 146, 146);
    display: flex;
    margin-bottom: 15px;
}
.name_title_sp{
    width: 370px;
    text-align: center;
}
.name_title_value{
    width: 170px;
    text-align: center;
}
.name_title_price{
    margin-left: 15px;
}
.List_sp_giohang{
    width: 90%;
    height: 70%;
    margin-left: 5%;
    overflow-x: hidden;
    overflow-y: scroll;
    border-bottom: 1px solid rgb(165, 165, 165);
}

.product_giohang{
    width: 99%;
    height: 130px;
    border: 1px solid rgb(194, 193, 193);
    margin-top: 10px;
    display: flex;
    font-size: 17px;
}
.ct_product_giohang{
    display: flex;
    background-color: rgb(235, 230, 230);
    padding-top: 10px;
    padding-left: 10px;
}
.ct_product_giohang:hover{
    opacity: 0.8;
}
.product_giohang img{
    width: 170px;
    height: 110px;
}
.name_product_giohang{
    width: 150px;
    height: 130px;
    padding-top: 20px;
    padding-left: 20px;
}
.value_product_giohang{
    width: 170px;
    height: 130px;
    display: flex;
    padding-top: 30px;
    padding-left: 40px;
    color: rgb(111, 111, 111);
}
.value_sp{
    text-decoration-line: line-through;
}
.discount_sp{
    margin-left: 10px;
}
.discount_sp1{
    padding: 2px;
    width: 50px;
    height: 20px;
    background-color: red;
    margin-left: 5px;
    color: white;
    border-radius: 5px;
}
.so_luong{
    width: 100px;
    height: 100%;
    display: flex;
    padding-top: 30px;
    padding-left: 40px;
}
.so_luong_1{
    text-align: center;
    width: 20px;
    height: 20px;
    border: 1px solid black;
}
.so_luong_1:hover{
    background-color: rgb(194, 193, 193);
}
.so_luong_2{
    text-align: center;
    width: 50px;
    height: 22px;
    border: 1px solid black;
    box-sizing: border-box;
    border-left: none;
    border-right: none;
    margin-top: 17px;
}
.sum_product{
    width: 170px;
    height: 130px;
    display: flex;
    padding-top: 30px;
    padding-left: 60px;
    color: tomato;
}
.icon_delete{
    width: 40px;
    height: 30px;
    display: flex;
    padding-top: 50px;
    padding-right: 20px;
    color: rgb(165, 165, 165);
}
.icon_delete:hover
{
    opacity: 0.75;
}
.sum_value{
    width: 100%;
    height: 40px;
    display: flex;
    float: right;
}
.sum_value h2{
    padding-bottom: 10px;
    padding-left: 530px;
    text-align: right;
    margin-top: 15px;
}
.sum_value h1{
    margin-top: 10px;
    color: rgb(236, 79, 79);
    margin-left: 5px;
    margin-right: 10px;
}
.sum_value button{
    width: 200px;
    height: 40px;
    font-size: 20px;
    color: white;
    margin-top: 10px;
    background-color: tomato;
    border: none;
}
.sum_value button:hover{
    opacity: 0.7;
}

/* Chi tiet san pham trong gio hang */
.ct_product_giohang_1{
    width: 80%;
    height: 90%;
    top: 5%;
    left: 10%;
    position: absolute;
    background-color: white;
    display: none;
}